/* Variables */
:root {
    --primary-background-color: #101010; /* Dark background */
    --secondary-background-color: #181818; /* Slightly lighter background */
    --primary-accent-color: #F8981E; /* Vibrant orange accent */
    --secondary-accent-color: rgba(248, 152, 30, 0.2); /* Lightened orange for buttons */
}

/* Button and Accent Color Styles */
.emby-button, .navMenuOption {
    background: var(--primary-accent-color) !important; /* Button color */
    color: white !important; /* Text color */
    border-radius: 100px !important; 
    height: 50px !important;
}

.emby-button:hover, .navMenuOption:hover {
    background: rgba(248, 152, 30, 0.7) !important; /* Hover color */
}

/* Adjusted Background Color */
html,
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent) {
    background-color: var(--primary-background-color) !important; /* Background color */
}

/* Adjust Checkbox Color */
.emby-checkbox:checked + span + .checkboxOutline {
    background: var(--primary-accent-color) !important; /* Checkbox color */
}

/* Progress Bar */
progress::-webkit-progress-value {
    background: var(--primary-accent-color) !important; /* Progress bar color */
}